.content {
  max-width: 100%;
}

h2 {
  margin-bottom: 20px;
  color: #03c4fb;
}

article {
  margin-bottom: 80px;
  /* added margin after each article */
}

.news-nav ul {
  font-size: 1.5em;
  /* updated font-size for jump labels by 1.5em */
}

.news-nav ul li {
  position: relative;
  padding-left: 20px;
}

.news-nav ul li::before {
  content: "■";
  position: absolute;
  left: 0;
  color: #03c4fb;
  margin-right: 2em;
  /* added margin right between the list-style-type and the text */
}

.container,
.content,
main {
  width: 90%;
  max-width: 100%;
  /* Entfernt mögliche Breitenbegrenzungen */
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  /* oder ein anderer geeigneter Wert */
  padding: 20px 0;
  /* Fügt seitlichen Abstand hinzu */
}

.content {
  width: 100%;
  max-width: 800px;
  /* oder ein anderer geeigneter Wert */
  /*margin: 0 auto;*/
  /* Zentriert den Inhalt */
}

article {
  margin-top: 40px;
  /* Fügt Abstand oberhalb jedes Artikels hinzu */
}

/* Spezifisch für den ersten Artikel, falls nötig */
article:first-of-type {
  margin-top: 60px;
  /* Noch mehr Abstand für den ersten Artikel */
}

/* Optional: Wenn Sie möchten, dass nur der erste Artikel diesen zusätzlichen Abstand hat */
article:not(:first-of-type) {
  margin-top: 20px;
  /* Weniger Abstand für die folgenden Artikel */
}

h3 {
  margin-bottom: 20px;
  /* Fügt 20px Abstand nach unten für jedes h3 Element hinzu */
}

.cta-button-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.date-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.date-tab {
  padding: 20px;
  width: 30%;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-tab .day {
  font-size: 1.2em; /* Größerer Wochentag */
  font-weight: bold;
}

.date-tab .date {
  font-size: 0.9em; /* Kleineres Datum */
  color: #666;
}

.date-tab.active {
  background-color: #ff5400;
  color: white;
}

.date-tab.active .date {
  font-size: 0.9em; /* Kleineres Datum */
  color: #dddddd;
}

.event-list {
  display: grid;
  gap: 20px;
}

.event-card {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  overflow: hidden;
  position: relative;
}

.event-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.event-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.category-chip {
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  font-size: 0.8em;
}

/* Beispiel für kategoriebasierte Farben */
.category-tech {
  background-color: #4caf50;
}
.category-business {
  background-color: #ffc107;
}
.category-founding {
  background-color: #2196f3;
}
.category-society {
  background-color: #ba68c8;
}

.event-card h3 {
  margin: 0;
  font-size: 1.1em;
  color: #333;
}

.event-card h3 span {
  color: #666;
  font-weight: normal;
  margin-left: 10px;
}

.event-card .event-short-description {
  color: #666;
  margin-top: 5px;
}
.event-card .event-info {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.event-card .event-info a {
  cursor: pointer;
  color: #007bff;
  background: none;
  border: none;
}

.event-card .event-details {
  margin-top: 10px;
}

.event-card .event-info p {
  margin: 0;
}

.event-card .event-description {
  display: none; /* Lange Beschreibung standardmäßig ausgeblendet */
  margin-top: 10px;
  color: #666;
  margin-bottom: 40px;
}

.event-card.expanded .event-description {
  display: block; /* Sichtbar, wenn die Karte "ausgeklappt" ist */
}

.toggle-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  width: 40px;
  height: 40px;
}
.event-card.expanded .toggle-icon {
  transform: rotate(180deg); /* Icon dreht sich beim Ausklappen */
}
